# Environment Configuration
PORT=3002
SERVICE_NAME=blog-api

# Monitoring Configuration (To be filled after onboarding)
MONITORING_API_KEY=apim_ef3f809d9c200e8f4f6e3dd2fad51ee8ec666a15
MONITORING_ENDPOINT=http://localhost:5000/api/hit
MONITORING_ENABLED=true

# Application Settings
NODE_ENV=development